// end-section style
.end{
    margin: 100px;
    @include display-flex();
    .content{
        position: absolute;
        @include display-flex(center,center,true);
        & > *{
            margin: 10px 0;
        }
        h2{
            font-size: $font-size-h2 - 12;

        }
        p{
            font-size: $font-size-p;
            color: gray;
        }
        .avatars{
            width: fit-content;
            @include display-flex;
            img{
                background-color: $white-color;
                @include image-responsive;
                @include circle(74px);
                border: 5px solid $white-color;
                margin-left: -16px
            }
        }
        button{
            @include blue-button;
            padding: 14px 24px;
            border-radius: 26px;
        }
    }
    .d1{
        @include display-flex();
        @include circle(650px);
        border: 1px solid $gray;
        .d2{
            @include display-flex();
            @include circle(480px);
            border: 1px solid $gray;
            .d3{
                @include circle(310px);
                border: 1px solid $gray;
                
                
            }
        }
    }
    @include tablet{
        margin: 20px;
        .content{
            h2{
                font-size: $font-size-h2 - 22;
            }
            p{
                font-size: $font-size-p - 4;
            }
        }
        .d1{
            @include circle(500px);
            .d2{
                @include circle(360px);
                .d3{
                    @include circle(220px);
                }
            }
        }
    }
    @include phone{
        .content{
            h2{
                font-size: $font-size-h2 - 37;
            }
            p{
                font-size: $font-size-p - 8;
            }
            .avatars{
                img{
                    @include circle(46px);
                    border: 3px solid $white-color;
                }
            }
        }
        .d1{
            @include circle(400px);
            .d2{
                @include circle(280px);
                .d3{
                    @include circle(160px);
                }
            }
        }
    }
}