// footer-section style
footer{
    width: 100%;
    .top{
        @include display-flex(center,null);
        div{
            width: 25%;
            padding: 40px 60px;
            border: 1px solid $gray;
            line-height: 42px;
            h5{
                margin-bottom: 30px;
                font-size: $font-size-p - 8;
                color: rgb(46, 46, 46);
            }
            ul{
                li{
                    color: rgb(151, 151, 151);
                    a{
                        &:hover{
                            color: rgb(46, 46, 46);
                        }
                    }
                }
            }
            &.left4{
                line-height: 24px;
                div{
                    margin-left: 50px;
                    @include display-flex();
                    border: none;
                    padding: 0;
                    img{
                        height: 90px;
                        margin-right: -30px;
                    }
                    h5{
                        font-size: $font-size-p;
                        margin: 0;
                        
                    }
                }
                p{
                    color: rgb(151, 151, 151);
                }
            }
        }

    }
    .bottom{
        @include display-flex(space-between);
        padding: 20px 50px;
        color: rgb(151, 151, 151);
        font-size: $font-size-p - 12;

    }
    @include tablet{
        .top{
            width: 100%;
            display: grid;
            grid-template-columns: 33.3% 33.4% 33.3%;
            div{
                width: 100%;
                &.left4{
                    padding: 10px 60px;
                    grid-column: 1 / 4;
                    div{
                        margin: 0;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
    @include phone{
        .top{
            grid-template-columns: 100%;
            div{
                grid-column: 1 / 2;
                padding: 10px 20px;
                h5{
                    margin-bottom: 10px;
                    cursor: pointer;
                    &.active{
                        background-color: $gray;
                        padding: 0 25px;
                        border-radius: 5px;
                    }
                }
                ul{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .2s ease-out;
                    
                }
            }
        }
    }
}