// main-section style
.main-section{
    position: relative;
    background-color: $gray-light;
    height: 600px;
    width: 100%;
    display: block;
    margin-top: 100px;
    .container{
        margin: 0 100px;
        height: 100%;
        .left{
            width: 50%;
            height: 100%;
            @include display-flex(center,null,true);
            float: left;
            h2{
                font-size: $font-size-h2;
            }
            p{
                font-size: $font-size-p;
                color: gray;
                margin: 20px 0 40px;
            }
            .buttons{
                button{
                    cursor: pointer;
                    border-radius: 40px;
                    border: none;
                    padding: 15px 20px;
                }
                .download{
                    margin-right: 20px;
                    @include blue-button;
                }
                .learn{
                    @include gray-button;
                }
            }
        }
        .right{
            height: 100%;
            @include display-flex();
            float: right;
            width: 50%;
            img{
                @include image-responsive;
            }
        }
        .scroll{
            position: absolute;
            left: 100px;
            bottom: 40px;
            cursor: pointer;
            button{
                border: none;
                @include circle(25px);
                padding: 5px;
                margin-right: 10px;
                transition: ease .5s all;
                font-size: $font-size-p - 12;
            }
            span{
                color: gray;
                transition: ease .5s all;
                font-size: $font-size-p - 10;
            }
            &:hover span{
                color: black;
            }
            &:hover button{
                background-color:$blue-button-hover;
                color: $white-color;
            }
        }
        @include tablet{
            margin: 0 20px;
            @include display-flex(center,center,true);
            .left{
                @include display-flex(center,center,true);
                h2{
                    font-size: $font-size-h2 - 10;
                }
                p{
                    text-align: center;
                    font-size: $font-size-p - 4;
                }
                .buttons{
                    .learn{
                        display: none;
                    }
                }
            }
            .scroll{
                position: static;
                   left: 50%;
                   margin: 30px 0;
            }
        }
        @include phone{
            .left{
                h2{
                    font-size: $font-size-h2 - 25;
                }
                p{
                    font-size: $font-size-p - 8;
                }
            }
        }
    }
}