// main-section style
.main-section{
    position: relative;
    background-color: $gray-light;
    height: 600px;
    width: 100%;
    display: block;
    .container{
        margin: 100px;
        height: 100%;
        .left{
            width: 50%;
            height: 100%;
            @include display-flex(center,null,true);
            float: left;
            h2{
                font-size: 85px;
            }
            p{
                font-size: 28px;
                color: gray;
                margin: 20px 0 40px;
            }
            .buttons{
                button{
                    cursor: pointer;
                    border-radius: 40px;
                    border: none;
                    padding: 15px 20px;
                }
                .download{
                    margin-right: 20px;
                    @include blue-button;
                }
                .learn{
                    @include gray-button;
                }
            }
            .scroll{
                position: absolute;
                left: 100px;
                bottom: 40px;
                cursor: pointer;
                button{
                    border: none;
                    @include circle(25px);
                    padding: 5px;
                    margin-right: 10px;
                    transition: ease .5s all;
                    font-size: 12px;
                }
                span{
                    color: gray;
                    transition: ease .5s all;
                    font-size: 14px;
                }
                &:hover span{
                    color: black;
                }
                &:hover button{
                    background-color:$blue-button-hover;
                    color: $white-color;
                }
            }
        }
        .right{
            height: 100%;
            @include display-flex();
            float: right;
            width: 50%;
            img{
                @include image-responsive;
            }
        }
    }
}