// people-section style
.people{
    width: 100%;
    height: fit-content;
    padding: 100px;
    background-color: $gray-light;
    .title{
        text-align: center;
        h2{
            font-size: $font-size-h2 - 12;
        }
        p{
            font-size: $font-size-p;
            color: gray;
            margin-bottom: 50px;
        }
    }
    .cards{
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto;
        .card{
            background-color: $white-color;
            border-radius: 20px;
            padding: 40px;
            color: rgb(109, 109, 109);
            img{
                @include circle(70px);
                margin-bottom: 20px;
            }
            p{
                line-height: 30px;
                &:nth-of-type(1){
                    font-style: italic;
                }
                &:nth-of-type(2){
                    color: rgb(149, 149, 149);
                }
            }
            h5{
                color: rgb(70, 70, 70);
                margin: 40px 0 10px;
                font-size: $font-size-p - 6;
            }
        }
    }
    @include tablet{
        padding: 20px;
        .title{
            text-align: center;
            h2{
                font-size: $font-size-h2 - 22;
            }
            p{
                font-size: $font-size-p - 4;
                margin-bottom: 10px;
            }
        }
        .cards{
            grid-template-columns: auto auto;
            .card{
                padding: 20px;
                img{
                    @include circle(50px);
                    margin-bottom: 10px;
                }
                p{
                    line-height: 20px;
                    font-size: $font-size-p - 10;
                }
                h5{
                    font-size: $font-size-p - 8;
                }
            }
        }
    }
    @include phone{
        .title{
            h2{
                font-size: $font-size-h2 - 37;
            }
            p{
                font-size: $font-size-p - 8;
            }
        }
        .cards{
            grid-template-columns: auto;
            
        }
    }
}