// sign-up-section style
.sign-up{
    height: 500px;
    width: 100%;
    display: block;
    .container{
        margin: 0 100px;
        height: 100%;
        border-bottom: 2px solid rgb(224, 224, 224);
        .left{
            width: 50%;
            float: left;
            height: 100%;
            @include display-flex(center,null,true);
            h2{
                font-size: $font-size-h2 - 20;
            }
            p{
                font-size: $font-size-p;
                color: gray;
                margin: 20px 0 35px;
            }
            form{
                input{
                    border: none;
                    background-color:$gray-light;
                    height: 46px;
                    width: 300px;
                    border-radius: 10px;
                    padding: 10px;
                    color: gray;
                    &::placeholder{
                        color: rgb(179, 179, 179);
                    }
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    cursor: pointer;
                    @include blue-button();
                    border: none;
                    height: 46px;
                    border-radius: 10px;
                    padding: 0 15px;
                }
            }
        }
        .right{
            width: 50%;
            float: right;
            height: 100%;
            padding: 60px 0;
            @include display-flex();
            img{
                @include image-responsive;
            }
        }
   }
   @include tablet{
        height: 800px;
        .container{
            margin: 0 20px;
            @include display-flex(center,center,true);
            .left{
                h2{
                    font-size: $font-size-h2 - 30;
                }
                p{
                    font-size: $font-size-p - 4;
                }
                width: 100%;
                margin-bottom: 0;
            }
            .right{
                width: 100%;
                padding: 0;
            }
        }
    }
    @include phone{
        height: 550px;
        .container{
            .left{
                h2{
                    font-size: $font-size-h2 - 45;
                }
                p{
                    font-size: $font-size-p - 8;
                }
            }
        }
    }
}