$white-color: white;
$blue-button : blueviolet;
$blue-button-hover: rgba(137, 43, 226, 0.85);
$gray-light:rgb(247,247,247);
$gray:rgb(237, 237, 237);

$tablet-width: 992px;
$mobile-width: 600px;

$font-size-h2 : 72px;
$font-size-p : 24px;

